<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to validate URLs that the proxy will forward to.
        mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="true">
  <serverUrls>
    <!-- serverUrl options:
            url = allow forwarding to specified URL
            matchAll = true to forward any request beginning with the url
            token = (optional) token to include for secured service
            dynamicToken = if true, gets token dynamically with username and
              password stored in web.config file's appSettings section.
    -->
    <serverUrl matchAll="true" url="https://preview.grid.unep.ch:8080/geoserver/ows"></serverUrl>
    <serverUrl matchAll="true" url="https://services.coastalresilience.org:6080"></serverUrl>
    <serverUrl matchAll="true" url="https://dev.services2.coastalresilience.org"></serverUrl>
	<serverUrl matchAll="true" url="https://preview.grid.unep.ch:8080/geoserver/ows"></serverUrl>
    <serverUrl matchAll="true" url="https://sampleserver6.arcgisonline.com/"></serverUrl>
    <serverUrl matchAll="true" url="https://tasks.arcgisonline.com/"></serverUrl>
    <serverUrl matchAll="true" url="https://devags.coastalresilience.org:6080"></serverUrl>
    <serverUrl matchAll="true" url="https://dev.services2.coastalresilience.org:6080/"></serverUrl>
    <serverUrl matchAll="true" url="https://services.coastalresilience.org:6080/"></serverUrl>
    <serverUrl matchAll="true" url="https://dev.services2.coastalresilience.org/"></serverUrl>
    <serverUrl matchAll="true" url="https://services.coastalresilience.org/"></serverUrl>
    <serverUrl matchAll="true" url="https://50.18.215.52/"></serverUrl>
    <serverUrl matchAll="true" url="https://lr13:6080/"></serverUrl>
    <serverUrl matchAll="true" url="https://sampleserver1.arcgisonline.com"></serverUrl>
    <serverUrl matchAll="true" url="https://preview.grid.unep.ch:8080"></serverUrl>
	<serverUrl matchAll="true" url="https://maps.coastalresilience.org/network/"></serverUrl>
  </serverUrls>
  
</ProxyConfig>
